.container {
    position: relative;
    width: 100%;
    margin: 0 auto 50px auto;
}

.slide {
    display: block;
    width: 100%;
    border-radius: 12px;
    height: 400px;
}

.swiper {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
    height: 424px;
}

.slideSwiper {
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 400px;
}